<div class="home-container">

  <!-- First blog post -->
  <div class="post">
    <h1 class="title">ModzTakt</h1>

    <img 
      src="assets/modztakt-main.png" 
      alt="ModzTakt UI"
      class="main-image"
    />

    <p class="home_desc">ModzTakt application and VST3 plugin let you add MIDI modulation sources to Elektron Syntakt</p>
    <p class="home_desc">It proposes a syncable LFO and an Envelope Generator that can be routed to up to 3 tracks/MIDI channels, a MIDI notes Delay/Echo with step sequencers for echoed notes, also routable to up to 3 tracks/MIDI channels.</p>
    <p class="home_desc">Standalone version for Linux allows to records Syntakt audio channels exposed by the Overbridge driver.</p>
    <p class="home_desc">ModzTakt is available for Windows and Linux, as standalone application or VST pluggin.</p>

  </div>

</div>